[submodule "tools/checksec.sh"]
	path = tools/checksec
	url = https://github.com/slimm609/checksec.sh.git
[submodule "tools/kconfig-hardened-check"]
	path = tools/kconfig-hardened-check
	url = https://github.com/a13xp0p0v/kconfig-hardened-check.git
